<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Freecharge Suite">
<!--<listeners>
		<listener class-name="com.Freecharge.utils.TestListener"></listener>
			<listener class-name="com.Freecharge.utils.ExtentReporterNG"></listener>
	</listeners> -->
<test name="Profile Test">
		<classes>
			<class name="com.Freecharge.testcases.HomePageTestCases">
			</class>
		</classes>
</test>
</suite>